<h1>Listing thingies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thingies.each do |thingy| %>
  <tr>
    <td><%= thingy.title %></td>
    <td><%= thingy.content %></td>
    <td><%= link_to 'Show', thingy %></td>
    <td><%= link_to 'Edit', edit_thingy_path(thingy) %></td>
    <td><%= link_to 'Destroy', thingy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thingy', new_thingy_path %>
